<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Todo App</title>
    <script
      src="https://kit.fontawesome.com/2d78478fcd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Todo List:</h1>
    <ul class="todos-list">
      <% for(let i = 0; i < todosArr.length; i++) { %> <%
      if(todosArr[i].isCompleted) { %>
      <li>
        <span class="completed"><%= todosArr[i].todoName %></span>
        <i class="fa-solid fa-trash" style="color: #000000"></i>
      </li>
      <% } else { %>
      <li>
        <span><%= todosArr[i].todoName %></span>
        <i class="fa-solid fa-trash" style="color: #000000"></i>
      </li>
      <% } %> <% } %>
    </ul>
    <form action="/addTodo" method="post">
      <input type="text" name="todo-item" />
      <button type="submit">Add Todo</button>
    </form>
    <script src="main.js"></script>
  </body>
</html>
