<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>
  <body>
    <h1>Todo List:</h1>
    <ul class="todos-list">
      <% for(let i = 0; i < todosArr.length; i++) { %>
      <li><%= todosArr[i].todoName %></li>
      <% } %>
    </ul>
    <form action="/addTodo" method="post">
      <input type="text" name="todo-item" />
      <button type="submit">Add Todo</button>
    </form>
  </body>
</html>
